@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cor-branco: #ffffff;
  --cor-preto: #000000;
  --cor-primaria: rgba(143, 152, 157, 0.6);
  --cor-secundaria-1: #011208;
  --cor-secundaria-2: #01180e;
  --cor-secundaria-3: #022415;
  --cor-secundaria-4: #033123;
  --regular: "mark-pro-regular";
  --bold: "mark-pro-bold";
}

/* <nav> */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid var(--cor-secundaria-1);
  padding: 0 100px;
  z-index: 10;
  transition: all 0.3s;
}
nav.scroll {
  border-bottom: 1px solid var(--cor-primaria);
}

/* Opcoes */
nav .opcoes {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
nav .opcoes a {
  font-family: var(--regular);
  font-size: 1rem;
  color: #000000;
  margin: 0 0 0 30px;
  transition: all 0.3s;
}
nav .opcoes a:hover {
  color: var(--cor-primaria);
}
nav .opcoes a.destaque {
  font-family: var(--bold);
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  box-shadow: 0 10px 30px 0 var(--cor-primaria);
  padding: 7px 15px;
  border-radius: 10px;
}
nav .opcoes a.destaque:hover {
  box-shadow: 0 10px 20px 0 var(--cor-primaria);
  transform: scale(0.9);
}
/* Menu */
nav .menu {
  display: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  margin-left: auto;
  position: relative;
}
nav .menu span {
  height: 3px;
  background-color: var(--cor-primaria);
  position: absolute;
  border-radius: 10px;
  transition: all 0.3s;
}
nav .menu span.um {
  top: 5px;
  right: 0;
  width: 20px;
}
nav .menu.ativo span.um {
  transform: rotate(45deg);
  top: 8px;
  right: -5px;
  width: 20px;
}
nav .menu span.dois {
  width: 10px;
  bottom: 5px;
  right: 0;
}
nav .menu.ativo span.dois {
  transform: rotate(-45deg);
  width: 20px;
  bottom: 8px;
  right: -5px;
}
/* Responsivo */
@media screen and (max-width: 1000px) {
  nav {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    padding: 0 30px;
  }
  /* Imagem */
  nav img.logo {
    max-width: 140px;
  }
  nav .menu {
    display: flex;
  }
  /* Opcoes */
  nav .opcoes {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 40px 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    width: auto;
    top: 50px;
    right: 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s;
  }
  nav .opcoes.mostrar {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  nav .opcoes a {
    margin: 10px 0;
  }
}

.container {
  position: relative;
  font-family: sans-serif;
  width: 400px;
  text-align: left;
}

.container::before,
.container::after {
  content: "";
  background-color: #fcfcfcc5;
  position: absolute;
}

.container::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.container::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.container .box {
  width: 400px;
  height: 15.875em;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.333);
  border: 1px solid rgba(255, 255, 255, 0.251);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.container .box {
  display: flex;
  flex-direction: column;
}

.container .box .title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.container .box div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.container .box div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.container .box:hover {
  box-shadow: 0px 0px 20px 1px #f7f7f77c;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

.fundo-section-sete {
  background-image: url("https://newaligner.com.br/wp-content/uploads/2022/05/empresa-nacional.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  filter: blur(0.5);
  /* Adiciona o efeito de desfoque */
}

.destaque-texto {
  background-color: rgba(
    0,
    0,
    0,
    0.58
  ); /* Define uma cor de fundo opaca para destacar o texto */
  padding: 20px;
  height: 500px;
  color: white;
}

.destaque {
  background-color: rgba(255, 255, 255, 0.333);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s; /* Define uma cor de fundo opaca para destacar o texto */
  padding: 30px;
  color: rgb(0, 0, 0);
}

.gradient-branco {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.gradient-azul,
body {
  background-image: url(./assets/img/side-wave_background.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*  background-image: linear-gradient(145deg, #4c93b5, #004fab); */
  /* linear-gradient(120deg, #4c93b5 0%, #004fab 100%); */
}

.gradient-text {
  background-image: linear-gradient(120deg, #4c93b5 0%, #004fab 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 1024px) {
  .polygon {
    clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%) !important;
  }

  .polygon-ivertido {
    clip-path: polygon(0 0, 100% 0, 92% 100%, 0 100%) !important;
  }
}

@media (max-width: 640px) {
  .form {
    width: 50% !important;
  }

  .form div {
    width: 100% !important;
  }
}

@media (max-width: 760px) {
  .fundo-section-sete {
    height: 300px;
  }

  .destaque-texto {
    height: 300px;
    color: white;
  }

  .form {
    width: 80% !important;
  }

  .form div {
    width: 100% !important;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #606c88;
  background: -webkit-linear-gradient(to right, #004fab, #4c93b5);
  background: linear-gradient(to right, #004fab, #4c93b5);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
}

.form .title {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  color: #fff;
}

.description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}

.form div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 1rem;
  gap: 10px;
}

.form div input {
  outline: none;
  line-height: 1.5rem;
  font-size: 0.875rem;
  color: rgb(255 255 255);
  padding: 0.5rem 0.875rem;
  background-color: rgb(255 255 255 / 0.05);
  border: 1px solid rgba(253, 253, 253, 0.363);
  border-radius: 0.375rem;
  flex: 1 1 auto;
}

.form div input::placeholder {
  color: rgb(216, 212, 212);
}

.form div input:focus {
  border: 1px solid rgb(99 102 241);
}

.form div button {
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 0.875rem;
  background-color: rgb(99 102 241);
  border-radius: 0.375rem;
  border: none;
  outline: none;
}
